<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :task %>
    <%= form.text_area :task, id: :task_task %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_select :due_date, id: :task_due_date %>
  </div>

  <div class="field">
    <%= form.label :completion_status %>
    <%= form.check_box :completion_status, id: :task_completion_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
